/* Estilos para o corpo do site */
body {
    font-family: Arial, sans-serif;
    background-image: url(img/gramado.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  /* Estilos para o cabeçalho */
  header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    background-image: url(img/tdl.jpg);
    padding: 10%;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  header h1 {
    font-size: 40px;
    margin-top: -10%;
  }

  .div1{
    text-wrap: wrap;
  }

  .div1:hover{
    content: url(img/sobrenos.png);
    width: 40%;
    margin-top: 1%;
  }

  .div2{
    margin-top: -2.65%;
    margin-left: 40%;
  }

  .div2:hover{
    content: url(img/benefícios.png);
    width: 40%;
  }


  .div3{
    margin-top: -2.65%;
    margin-left: 80%;
  }

  .div3:hover{
    width: 40%;
    content: url(img/fotos.png);
    margin-left: 60%;
  }

  .h2div{
    color: white;
  }

  
  /* Estilos para as seções */
  section {
    max-width: 100%;
    margin: 20px 0;
    padding: 5%;
    border: 1px solid #ccc;
    background-color: #007BFF;
    border-radius: 10px;
  }
  
  section h2 {
    margin-top: -4%;
    font-size: 24px;
    color: white;
  }

  
  section p {
    width: 100%;
    text-wrap: wrap;
    font-size: 16px;
  }
  
  /* Estilos para os depoimentos */
  article {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 10px;
  }
  
  article h3 {
    font-size: 20px;
    color: #007BFF;
  }
  
  /* Estilos para informações de contato */
  .contact-info {
    background-color: #f0f0f0;
    padding: 5%;
    border-radius: 10px;
  }
  
  .contact-info h2 {
    font-size: 24px;
    color: #007BFF;
  }
  
  /* Estilos para imagens e logo */
  .logo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  /* Estilos para links */
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para o rodapé */
  footer {
    text-align: center;
    padding: 10px;
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  